.q-field--filled .q-field__control::after {
    color: #CEB690 !important;
    border-bottom: 2px solid #CEB690 !important;
}
.q-field__control {
    color: #091E2F !important;
}
.q-uploader__header {
    background-color: #CEB690 !important;
}
.q-field {
    font-size: 16px !important;
}
